{% extends "base.njk" %}
{% block content %}
<div style="text-align: center;">
  <img src="imgs/logo.png" alt="Logo">
</div>
<h1>Sobre nosotros</h1>
<p>Somos un restaurante dedicado a ofrecer la mejor experiencia culinaria. Nuestro menú está diseñado para satisfacer todos los gustos y preferencias.</p>
<p>Utilizamos ingredientes frescos y de alta calidad para preparar cada uno de nuestros platos.</p>
<p>Nuestro equipo de chefs está comprometido a brindar un servicio excepcional y a crear un ambiente acogedor para nuestros clientes.</p>
<p>Creemos que cada comida es una oportunidad para disfrutar y compartir momentos especiales con amigos y familiares.</p>
<p>Te invitamos a visitarnos y descubrir por qué somos el lugar favorito de muchos.</p>

{% endblock %}