{% extends "base.njk" %}

{% block content %}
  <h1>Location</h1>
  <p>Welcome to the location page!</p>
  <div id="map"></div>

  <script>
    var map = L.map('map').setView([37.206624058380186, -3.6067205050867894], 17);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Añade un marcador
    L.marker([37.206624058380186, -3.6067205050867894]).addTo(map)
      .bindPopup('Aquí está el restaurante')
      .openPopup();
  </script>
{% endblock %}